<div>

<mat-card class="change-password-card">
  <h4>Change password</h4>
  <mat-card-content (keyup.enter)="changePassword()">
    <table class="create-full-width">
      <tr>
        <td><mat-form-field class="create-full-width">
          <input matInput placeholder="Old password" [(ngModel)]="userPassData.oldPassword" type="password" name="password1" required>
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="create-full-width">
          <input matInput placeholder="New password" [(ngModel)]="userPassData.newPassword" type="password" name="password2" required>
        </mat-form-field></td>
      </tr>
    </table>
    <mat-spinner [diameter]="40" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="changePassword()" color="primary">Change User Password</button>
  </mat-card-actions>
</mat-card>

<mat-card class="update-info-card">
  <h4>Change personal information</h4>
  <mat-card-content (keyup.enter)="updateInfo()">
    <table class="create-full-width">
      <tr>
        <td><mat-form-field class="create-full-width">
          <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" required autofocus>
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="create-full-width">
          <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
        </mat-form-field></td>
      </tr>
    </table>
    <mat-spinner [diameter]="40" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="updateInfo()" color="primary">Update User Info</button>
  </mat-card-actions>
</mat-card>
</div>
