<div class="app-container">
  <mat-toolbar class="toolbar" style="z-index:9999">

    <span class="example-fill-remaining-space"></span>

    <div style="margin-right: 0.5rem">
      <a mat-button routerLink="/tree"
      >PKI Tree View</a
      >
    </div>

    <div style="margin-right: 0.5rem">
      <a mat-button routerLink="/iam"
      >IAM Panel View</a
      >
    </div>

    <div style="margin-right: 0.5rem">
      <a mat-button routerLink="/my-settings"
      >My Settings Panel View</a
      >
    </div>

    <a mat-button *ngIf="!loggedIn()" routerLink="/login">Log In</a>

    <a mat-button *ngIf="loggedIn()" (click)="logout()">Log Out</a>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
